<bb-header title="'Task attempts'"></bb-header>

<bb-content>
    <div class="container-fluid tasks attempts">
        <div class="panel panel-default">
            <div class="panel-heading">
                Attempts for the {{ task.code }} task
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>timestamp</th>
                    <th class="col-sm-1"></th>
                </tr>
                </thead>
                <tr ng-repeat="attempt in attempts | orderBy:'-started'">
                    <td ng-click="goToOutput(attempt)">{{ attempt.id }}</td>
                    <td ng-click="goToOutput(attempt)">{{ attempt.started | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>
                        <div ng-click="deleteOutput(attempt)" class="btn btn-xs btn-danger pull-right">delete</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</bb-content>