<bb-header>Tasks - Invoke</bb-header>

<div class="tasks">
    <p>{{task.description}}</p>

    <div class="task-parameters">
        <div class="task-parameter" ng-repeat="parameter in task.parameters">
            <div class="task-parameter-label">
                <span class="key">{{parameter.key}}</span>
                <span class="description">{{parameter.description}}</span>
            </div>
            <div class="task-parameter-value">
                <input type="text" ng-model="invokeParams[parameter.key]">
            </div>
        </div>
    </div>

    <div class="invoke-actions">
        <button class="btn btn-info" ng-click="invokeTask()">Launch!</button>
    </div>
</div>
