.dashboard-actions > .glyphicons {
    padding-left:16px;
}

.dashboard-actions > .glyphicons:before {
    color: white;
    font-size: 18px;
    cursor: pointer; cursor: hand;
}

.card.indicator-panel {
    padding-bottom: 20px;
}

.glyphicons.indicator {
    height: 48px;
    margin-right: 20px;
}

.glyphicons.indicator:before {
    height: 48px;
    padding-top: 12px;
    padding-left: 12px;
}

/*.glyphicons.indicator_panel_info:before,*/
.glyphicons.indicator_panel_ok:before,
.glyphicons.indicator_panel_warning:before,
.glyphicons.indicator_panel_error:before {
    color:white;
}

.indicator_panel_info {
    background-color: lightgrey;
}

.indicator_panel_ok {
    background-color: darkgreen;
}

.indicator_panel_warning {
    background-color: orange;
}

.indicator_panel_error {
    background-color: darkred;
}

.card.performance_graph > .card-heading {
    padding-left: 0px;
}

.card.hex-metrics-panel {
    display: flex; /* TODO: display flex breaks browser portability. What is the alternative? */
    cursor: pointer; cursor: hand;
}

.card.hex-metrics-panel > div.card-heading.image {
    padding-bottom: 20px;
}

.card.hex-metrics-panel > .card-heading > .card-heading-header {
    width: 72px;
}

.card.hex-metrics-panel > div.card-body {
    margin-top: 0;
    /*padding-bottom: 20px;*/
    width: 100%;
    height: 100%;
}

.sparkline {
    width: 100%;
    height: 100%;
}

.sparkline.overview {
    height: 40px;
    /*color: green;*/ /* No effect on GCharts */
}

.sparkline.details {
    height: 180px;
    padding-bottom: 20px;
}
