@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans/OpenSans.eot');
    src: local('Open Sans'),
         local('OpenSans'),
         url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/OpenSans/OpenSans-Semibold.eot');
    src: local('Open Sans Semibold'),
         local('OpenSans-Semibold'),
         url('../fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans/OpenSans-Bold.eot');
    src: local('Open Sans Bold'),
         local('OpenSans-Bold'),
         url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/OpenSans/OpenSans-Extrabold.eot');
    src: local('Open Sans Extrabold'),
         local('OpenSans-Extrabold'),
         url('../fonts/OpenSans/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Extrabold.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Extrabold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans/OpenSans-CondensedLight.eot');
    src: local('Open Sans Cond Light'),
         local('OpenSans-CondensedLight'),
         url('../fonts/OpenSans/OpenSans-CondensedLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-CondensedLight.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-CondensedLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans/OpenSans-CondensedBold.eot');
    src: local('Open Sans Cond Bold'),
    local('OpenSans-CondensedBold'),
    url('../fonts/OpenSans/OpenSans-CondensedBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans/OpenSans-CondensedBold.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-CondensedBold.ttf') format('truetype');
}