<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>BigBoards Fabric</title>

    <meta name="description" content="The management console of your BigBoards Hex" />
    <meta name="keywords" content="BigBoards, Hex, management console" />
    <meta name="author" content="BigBoards" />

    <link rel="shortcut icon" href="favicon.ico">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <link rel="stylesheet" href="style/linear-font.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/util.css">
</head>

<body ng-cloak layout="row" ng-controller="ApplicationController as ac">
<md-sidenav class="site-sidenav md-sidenav-right md-whiteframe-z2"
            md-component-id="right"
            aria-label="Show Settings">
    <div layout="row" layout-align="start center">
        <h3 class="m-l-16 md-display-1" flex>Settings</h3>
        <md-button ng-click="ac.toggleList()" class="md-primary md-icon-button m-r-16">
            <md-icon md-font-icon="lnr-cross2" class="lnr"></md-icon>
        </md-button>
    </div>

    <md-content layout="column" layout-padding ng-include="'app/core/settings.part.html'" ng-controller="SettingsController as sc"></md-content>
</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main">
    <md-toolbar layout="row" class="transparent" ng-if="!ac.isMinimal">
        <h3 class="m-l-16 md-display-1" flex>{{ ac.page.title() }}</h3>

        <md-button aria-label="Navigate to the main page" ng-click="ac.goto('/')">
            <md-icon md-font-icon="lnr-home" class="lnr" ></md-icon>
        </md-button>
        <md-button aria-label="Navigate to the settings" ng-click="ac.toggleList()">
            <md-icon md-font-icon="lnr-cog" class="lnr" ></md-icon>
        </md-button>
    </md-toolbar>

    <md-content layout="row" flex id="content" class="bb-background">
        <div class="site-content" layout="column" flex ng-view ></div>
    </md-content>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
<script src="bower_components/term.js/src/term.js"></script>
<script src="bower_components/socket.io-client/socket.io.js"></script>
<script src="bower_components/angular-socket-io/socket.min.js"></script>


<script src="app/mmc.js"></script>
<script src="app/mmc.config.js"></script>
<script src="app/mmc.settings.js"></script>
<script src="app/mmc.run.js"></script>

<script src="app/core/application.controller.js"></script>
<script src="app/core/settings.controller.js"></script>
<script src="app/core/dashboard.controller.js"></script>
<script src="app/core/bootstrap.controller.js"></script>
<script src="app/core/node.service.js"></script>
<script src="app/core/tint.service.js"></script>
<script src="app/core/status.service.js"></script>
<script src="app/core/settings.service.js"></script>
<script src="app/core/service.service.js"></script>
<script src="app/core/event.service.js"></script>
<script src="app/core/link.service.js"></script>
<script src="app/core/page.service.js"></script>
<script src="app/core/bytes.filter.js"></script>
<script src="app/core/service.directive.js"></script>
<script src="app/core/view.directive.js"></script>

<script src="app/node/node.module.js"></script>
<script src="app/node/node.config.js"></script>
<script src="app/node/node-list.controller.js"></script>
<script src="app/node/node-detail.controller.js"></script>

<script src="app/tint/tint.module.js"></script>
<script src="app/tint/tint.config.js"></script>
<script src="app/tint/tint-list.controller.js"></script>


<!-- UserVoice - JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/yjwfLqF0V88QyIB4J1sJ2A.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- UserVoice - A tab to launch the Classic Widget -->
<script>
    UserVoice = window.UserVoice || [];
</script>

<script>
    (function() {
        var mmc = angular.module("mmc");

        fetchData().then(bootstrapApplication);

        function fetchData() {
            var initInjector = angular.injector(["ng"]);
            var $http = initInjector.get("$http");

            return $http.get("/v1/status").then(function(response) {
                mmc.constant("nodeInfo", response.data);
            }, function(errorResponse) {
                // Handle error case
            });
        }

        function bootstrapApplication() {
            angular.element(document).ready(function() {
                angular.bootstrap(document, ["mmc"]);
            });
        }
    }());
</script>

</body>
</html>
