<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>BigBoards Fabric</title>

    <meta name="description" content="The management console of your BigBoards Hex" />
    <meta name="keywords" content="BigBoards, Hex, management console" />
    <meta name="author" content="BigBoards" />

    <link rel="shortcut icon" href="favicon.ico">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <link rel="stylesheet" href="style/linear-font.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/util.css">
</head>

<body ng-cloak layout="row" ng-controller="ApplicationController as ac">
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            ng-click="ac.toggleList()" aria-label="Show Sidebar">

</md-sidenav>


<div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
    <md-toolbar layout="row" class="transparent">
        <md-button id="main" class="menu" ng-click="ac.toggleList()" aria-label="Show Sidebar">
            <md-icon md-font-icon="lnr-menu" class="lnr" ></md-icon>
        </md-button>
        <h3 class="md-display-1" flex>BigBoards Fabric</h3>

        <md-button aria-label="Navigate to the main page">
            <md-icon md-font-icon="lnr-home" class="lnr" ></md-icon>
        </md-button>
        <md-button aria-label="Navigate to the library">
            <md-icon md-font-icon="lnr-drop" class="lnr" ></md-icon>
        </md-button>
        <md-button aria-label="Navigate to the settings">
            <md-icon md-font-icon="lnr-cog" class="lnr" ></md-icon>
        </md-button>
    </md-toolbar>

    <md-content flex id="content" class="bb-background">
        <div class="site-content" ng-view ></div>
    </md-content>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>


<script src="app/mmc.js"></script>
<script src="app/mmc.config.js"></script>
<script src="app/mmc.settings.js"></script>
<script src="app/mmc.run.js"></script>

<script src="app/core/application.controller.js"></script>
<script src="app/core/node.service.js"></script>
<script src="app/core/bytes.filter.js"></script>

<script src="app/node/node.module.js"></script>
<script src="app/node/node.config.js"></script>
<script src="app/node/node-list.controller.js"></script>


<!-- UserVoice - JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/yjwfLqF0V88QyIB4J1sJ2A.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- UserVoice - A tab to launch the Classic Widget -->
<script>
    UserVoice = window.UserVoice || [];
</script>

<script>
    angular.element(document).ready(function() {
        var api = '';
        //var api = 'http://jack.hex.bigboards.io:7000';

//        $.getJSON(api + '/api/v1/settings/client', function(data) {
            var data = {
                api: api
            };

            sessionStorage.setItem('settings', JSON.stringify(data));

            angular.bootstrap(document, ['mmc']);
//        });
    });
</script>

</body>
</html>
