.node {
    height: 80px;
}

.node table {
    border-spacing: 10px;
    border-collapse: separate;
}

.node table td {
    padding-left: 15px;
}

.node .name {
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.node .role {
    text-transform: uppercase;
}

.node .index {
    font-size: 34px;
    padding: 10px 20px;
    background-color: transparent;
    color: #008888;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #008888;
}

.node .internal-ip {
    color: #005F5F;
    font-weight: bold;
    padding: 0px 3px;
}

.node a.action {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #000000;
    color: #FFFFFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.node a.action:hover {
    color: #FFFFFF;
    background-color: #008888;

}

.node .status-highlight {
    color: #005F5F;
    font-weight: bold;
    padding: 0px 3px;
    text-transform: uppercase;
}


.dashboard {
    padding-top: 20px;
}


.tints .tint {
    border: solid 1px #008888;
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 10px;
    min-width: 200px;
    min-height: 140px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.tints .tint.partial {
    border-color: #880000;
    color: #880000;
}

.tints .tint .name {
    text-align: center;
    font-size: x-large;
    display: block;
    margin-top: 13px;
}

.tints .tint .owner {
    text-align: center;
    font-size: small;
    display: block;
}

.tints .tint-body {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
}

.tints .tint-actions {
    display: table;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.tints .tint-actions .tint-action {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    color: white;
}

.tints .tint .overlay .busy {
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    width: 42px;
}

.tints .tint.installing .overlay, .tints .tint.invalid .overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.9;
}

.tints .tint.installed .overlay {
    display: none;
}

.tints .tint.stack .tint-actions .tint-action a {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    line-height: 40px;
    color: #FFFFFF;
}

.tints .tint.stack .tint-actions .tont-action a:hover {
    background-color: transparent;
}

.tints .tint.data .tint-actions .tint-action:hover {
    color: #880000;
    background-color: white;
}

.tints .tint.edu .tint-actions .tint-action:hover {
    color: #008800;
    background-color: white;
}

.tints .tint.stack.partial .tint-actions .tint-action {
    background-color: #880000;
    color: white;
}

.tints .tint.data.partial .tint-actions .tint-action {
    background-color: #880000;
    color: white;
}

.tints .tint.edu.partial .tint-actions .tint-action {
    background-color: #880000;
    color: white;
}

.tints .tint.stack .tint-actions .tint-action { background-color: #008888; }
.tints .tint.data .tint-actions .tint-action { background-color: #880000; }
.tints .tint.edu .tint-actions .tint-action { background-color: #008800; }

.tints .tint.stack .corner-top-right { border-color: transparent rgb(32,124,229) transparent transparent; }
.tints .tint.data .corner-top-right { border-color: transparent #880000 transparent transparent; }
.tints .tint.edu .corner-top-right { border-color: transparent #008800 transparent transparent; }

.corner-top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #515151 transparent transparent;
}

.tint-action.danger { color: #880000; }


/*table {*/
    /*margin: 0;*/
    /*border: none;*/
    /*border-top: solid 1px #dedede;*/
    /*border-bottom: solid 1px #dedede;*/
    /*margin-top: 10px;*/
    /*font-size: smaller;*/
    /*background-color: white;*/
/*}*/

/*.table .metric-column {*/
    /*width: 50px;*/
/*}*/

/*table .table-indicator {*/
    /*width: 30px;*/
/*}*/

h2 {
    padding-top: 24px;
    padding-bottom: 23px;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin-top: 40px;
}

.dashboard .subtitle {
    margin-left: 25px;
    margin-bottom: 20px;
    color: #A6A6A6;
}




/*.nodes {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left:0;*/
    /*bottom: 0;*/
    /*width: 20%;*/
/*}*/

/*.hex-node {*/
    /*margin: 15px;*/
    /*display: block;*/
/*}*/

/*.hex-node .hex-node-content {*/
    /*position: relative;*/
    /*margin-left: 26px;*/
    /*height: 100%;*/
    /*min-height: 65px;*/
    /*border: solid 1px #008888;*/
/*}*/

/*.hex-node-content.collapsed { max-height: 29px; }*/
/*.hex-node-content.collapsed .hex-node-metrics { display: none; }*/

/*.hex-node-content.expanded { max-height: none; }*/
/*.hex-node-content.expanded .hex-node-metrics { display: block; }*/

/*.hex-node h3 {*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*font-size: large;*/
    /*margin-top: 21px;*/
    /*margin-left: 30px;*/
    /*margin-bottom: 21px;*/
/*}*/

/*.hex-node .hex {*/
    /*background-color: #008888;*/
/*}*/

/*.hex-node-metrics {*/
    /*margin-left: 30px;*/
/*}*/



/*.hex-node-metric {*/
    /*padding-right: 10px;*/
/*}*/

/*.hex-node-metric h3 {*/
    /*font-size: small;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*display: inline-block;*/
/*}*/

/*.hex-node-metric .value {*/
    /*float: right;*/
    /*display: inline-block;*/
/*}*/

/*.hex-node-actions {*/
    /*float: right;*/
    /*padding-top: 14px;*/
    /*padding-right: 14px;*/
/*}*/

/*.hex-node-actions .hex {*/
    /*background-color: #dedede;*/
    /*color: #515151;*/
/*}*/