/**********************************************************************************************************************
 * Library
 *********************************************************************************************************************/
.library {
    width: 100%;
    padding-top: 20px;
}

.library .owner {
    display: inline-block;
}

.library .item {
    position: relative;
    display: inline-block;
    width: 420px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.library .item .logo {
    position: absolute;
    left: 0;
    width: 120px;
    top: 0;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    padding: 10px;
    text-align: center;
    border: solid 1px #dedede;
}

.library .item:hover .logo {
    display: none;
}

.library .item:hover .actions {
    display: none;
}

.library .item .logo img {
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    max-width: 100px;
}

.library .item .caption {
    position: absolute;
    left: 120px;
    right: 0;
    top: 0;
    bottom: 0;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
    border-right: solid 1px #dedede;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    background-color: white;
}

.library .item .caption h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
    font-family: "Open Sans Light", sans-serif;
    font-weight: 300;
}

.library .item .caption p {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: small;
    font-family: "Open Sans Light", sans-serif;
    font-weight: 300;
}

.library .item .actions {
    position: absolute;
    left: 0;
    width: 120px;
    top: 0;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: white;
    padding: 10px;
    padding-top: 40px;
    text-align: center;
    border: solid 1px #dedede;

    display: none;
}

.library .item:hover .actions {
    display: block;
    /*width: 120px;*/
}

.library .item .actions .action {
    display: inline-block;
    color: #515151;
    width: 36px;
    height: 36px;
    margin-left: 5px;
    padding-top: 4px;
    border-radius: 20px;
    border: solid 1px #515151;
    font-size: large;
    background-color: white;
}

.library .item .actions .action:hover {
    color: #008888;
    /*color: white;*/
    border-color: #008888;
}

.library .item .actions .action.danger:hover {
    color: #880000;
    border-color: #880000;
    /*color: white;*/
}

.caption-block-content {
    background-color: white;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
    padding: 30px;
    height: 225px;
}

.caption-block img {
    max-width: 160px;
    max-height: 160px;
}

.caption-image-container {
    position: absolute;
    left: 30px;
    top: 30px;
    bottom: 0;
    width: 170px;
    text-align: right;
}

.caption-details {
    position: absolute;
    left: 230px;
    right: 0;
    top: 30px;
    bottom: 0;
}

.item-toolbar {
}

.item-toolbar-content {
    border: solid 1px #333;
    border-top: none;
    background-color: #333;
    color: white;
    height: 40px;
}

.item-toolbar-content > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.item-toolbar .item-action {
    display: inline-block;
    height: 40px;
    color: white;
    padding: 15px;
    padding-top: 10px;
    border-left: solid 1px white;
    cursor: pointer;
}

.item-toolbar .item-action:hover {
    background-color: #008888;
}

.item-details-content {
    /*border: solid 1px #008888;*/
    /*border-top: none;*/

    /*background-color: white;*/
    color: #333;
    /*padding: 30px;*/
}

.section {
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    display: flex;
}

.section-header {
    display: inline-block;
    width: 25%;
    background-color: #333;
    color: white;
    min-height: 100%;
    text-align: right;
    padding: 20px;
}

.section-detail {
    display: inline-block;
    width: 75%;
    background-color: white;
    padding: 20px;
}

.item-details-content ul { text-decoration: none; list-style: none; }
.item-details-content .toc h1 { font-size: 16px; margin-bottom: 12px; }
.item-details-content .toc h2 { font-size: 14px; margin-bottom: 8px; }
.item-details-content .toc h3 { font-size: 12px; margin-bottom: 4px; }
.item-details-content .toc h4 { font-size: 10px; margin-bottom: 0; }

.card.stack .card-type { border-color: transparent rgb(32,124,229) transparent transparent; }
.card.stack .card-back { border-bottom: solid 4px rgb(32,124,229); }
.card.stack .card-actions .card-action:hover { color: rgb(32,124,229); }

.card.data .card-type { border-color: transparent #880000 transparent transparent; }
.card.data .card-back { border-bottom: solid 4px #880000; }
.card.data .card-actions .card-action:hover { color: #880000; }

.card.edu .card-type { border-color: transparent #008800 transparent transparent; }
.card.edu .card-back { border-bottom: solid 4px #008800; }
.card.edu .card-actions .card-action:hover { color: #008800; }