[n1]
[[ hex.name ]]-n1	ansible_ssh_user=bb

[n2]
[[ hex.name ]]-n2	ansible_ssh_user=bb

[n3]
[[ hex.name ]]-n3	ansible_ssh_user=bb

[n4]
[[ hex.name ]]-n4	ansible_ssh_user=bb

[n5]
[[ hex.name ]]-n5	ansible_ssh_user=bb

[n6]
[[ hex.name ]]-n6	ansible_ssh_user=bb