<bb-header title="'Tasks'"></bb-header>
<bb-content>
    <div class="container-fluid tasks">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Available Tasks
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-sm-1">type</th>
                                <th class="col-sm-1">code</th>
                                <th>description</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="task in tasks" ng-click="goToTaskDetail(task)">
                            <td>{{task.type}}</td>
                            <td>{{task.code}}</td>
                            <td>{{task.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</bb-content>