.tutorial-viewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: white;
    border-left: solid 1px #008888;
}

.tutorial-viewer-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50px;
    right: 0;
    font-weight: 100;
    padding: 10px;
}

.tutorial-viewer-content .toc h1,
.tutorial-viewer-content .toc h2,
.tutorial-viewer-content .toc h3,
.tutorial-viewer-content .toc h4{
    cursor: pointer;
}

.tutorial-viewer-content .toc h1 {
    font-size: 18px;
    margin-top: 20px;
}

.tutorial-viewer-content .toc h2 {
    font-size: 18px;
    margin-top: 5px;
}

.tutorial-viewer-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    right: 0;
    font-weight: 100;
    font-size: small;
}

.tutorial-viewer-toolbar .btn {
    height: 100%;
}

.tutorial-viewer-toolbar .btn:hover, .tutorial-viewer-toolbar .btn:active {
    border-color: #008888;
    color: #008888;
    background: transparent;
}

.tutorial-viewer-toolbar .previous {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.tutorial-viewer-toolbar .previous .fa {
    margin-right: 10px;
}

.tutorial-viewer-toolbar .next {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.tutorial-viewer-toolbar .next .fa {
    margin-left: 10px;
}

.tutorial-viewer-toolbar .menu-cancel {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.tutorial-viewer-toolbar .menu-cancel .fa {
    margin-left: 10px;
}

.tutorial-viewer-toolbar .menu-show .fa {
    margin-left: 10px;
}