<md-content class="view-container" layout="row" layout-padding flex>
    <div layout="column" flex>
        <md-content ng-repeat="tint in vm.tints" layout="column" layout-align="start stretch" layout-padding flex>
            <div>
                <div class="md-whiteframe-z1" layout="row" layout-align="start center" layout-padding>
                    <img ng-src="{{tint.logo}}" style="max-width: 100px; max-height: 100px;" />
                    <div layout="column">
                        <span class="md-title">{{ tint.name }}</span>
                        <span class="md-body-1">{{ tint.profile.name }}</span>
                        <p class="md-caption">{{ tint.description }}</p>
                    </div>
                </div>
                <bb-tint-view view="view" ng-repeat="view in tint.views"></bb-tint-view>
                <bb-service service-name="serviceName" service-data="serviceData" ng-repeat="(serviceName, serviceData) in vm.services"></bb-service>
            </div>
        </md-content>
    </div>

    <md-content layout="column" flex>
        <md-card ng-repeat="node in vm.nodes" style="max-width: 440px; min-width: 440px;" ng-click="vm.goto('/nodes/' + node.deviceId)">
            <md-card-header>
                <md-card-avatar>
                    <md-icon class="lnr" md-font-icon="lnr-chip" ng-class="node.health" ></md-icon>
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{ node.hostname }}</span>
                    <span class="md-subhead">{{ node.ipv4 }}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content md-layout="row" class="md-warn">
                <div flex layout="row" layout-align="center center">
                    <div flex="33" layout="column" layout-align="center center">
                        <span class="md-body">{{ node.cores }}</span>
                        <span class="md-caption">cores</span>
                    </div>

                    <div flex="33" layout="column" layout-align="center center">
                        <span class="md-body">{{ node.memory | bytes }}</span>
                        <span class="md-caption">memory</span>
                    </div>

                    <div flex="33" layout="column" layout-align="center center">
                        <span class="md-body">{{ node.storage | bytes }}</span>
                        <span class="md-caption">storage</span>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </md-content>

    <md-content layout="column" class="md-whiteframe-z1" style="max-width: 300px; width: 300px;">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="event in vm.events | orderBy:'sequence':'true'" ng-click="null">
                <md-icon md-font-icon="lnr-check" class="lnr md-avatar"></md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ event.data.node }}</h3>
                    <h4>{{ event.event }}</h4>
                    <p>{{ ( event.data.error ) ? event.data.error : '' }}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>

