.indicator {
    height: 25%;
    color: #515151;
    display: table;
    width: 100%;
}

.indicator .value {
    font-size: 32px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin-right: 20px;
    width: 110px;
}

.indicator .caption {
    font-size: x-small;
    display: table-cell;
    text-align: left;
    padding-left: 10px;
    height: 100%;
    vertical-align: middle;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}