<div class="ml-15">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Hex Details</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <span class="col-lg-4">Hex ID:</span>
                <span class="col-lg-8">{{hexConfig.id}}</span>
            </div>
            <div class="col-lg-12">
                <span class="col-lg-4">Hex Name:</span>
                <span class="col-lg-8">{{hexConfig.name}}</span>
            </div>
            <div class="col-lg-12">
                <span class="col-lg-4">Hex Architecture:</span>
                <span class="col-lg-8">{{hexConfig.arch}}</span>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Hive</h3>
        </div>
        <div class="panel-body" ng-include="hiveLinkPart">
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Docker Registry</h3>
            <div class="btn-group pull-right">
                <button class="btn btn-default btn-sm" ng-click="createRegistry()">
                    <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>
        <div ng-if="editing || creating" class="panel-body">
            <form ng-submit="saveRegistry(data)">
                <h3 ng-if="editing">{{data.name}}</h3>
                <div class="form-group" ng-if="creating">
                    <label for="registryName">Name</label>
                    <input type="text" class="form-control" id="registryName" placeholder="Registry Name" ng-model="data.name">
                </div>
                <div class="form-group">
                    <label for="registryUserName">Username</label>
                    <input type="text" class="form-control" id="registryUserName" placeholder="Username" ng-model="data.user">
                </div>
                <div class="form-group">
                    <label for="registryEmail">Email address</label>
                    <input type="email" class="form-control" id="registryEmail" placeholder="Email" ng-model="data.email">
                </div>
                <div class="form-group">
                    <label for="registryPwd">Password</label>
                    <input type="password" class="form-control" id="registryPwd" placeholder="Password"  ng-model="data.password">
                </div>
                <button type="submit" class="btn btn-default">Save</button>
                <button class="btn" ng-click="cancelEdit()">Cancel</button>
            </form>
        </div>
        <table class="table">
            <tr>
                <th>name</th>
                <th>email</th>
                <th>username</th>
                <th>actions</th>
            </tr>
            <tr ng-repeat="(registryName, registry) in registries" ng-click="editRegistry(registry)">
                <td>{{registry.name}}</td>
                <td>{{registry.email}}</td>
                <td>{{registry.user}}</td>
                <td>
                    <button class="btn-warning" ng-click="removeRegistry(registryName)">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>