#menu {
    position: absolute;
    left:0;
    top:0;
    bottom:50px;
    right: 0;
    background-color: #008888;
}

#menu .menu-logo {
    display: table;
    border-bottom: solid 1px white;
    padding: 10px;
}

#menu .menu-item {
    display: table;
    border-bottom: solid 1px rgba(255,255,255,0.5);
    padding: 5px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    padding-right: 20px;
}

#menu .menu-item .caption {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 300;
}

#firmware-version {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    display: table;
    padding: 5px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    padding-right: 20px;
    background-color: #008888;
}

#firmware-version .caption {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: x-small;
    font-weight: 300;
}

.bb-name {
    display: table-cell;
    width: 250px;
    height: 60px;
    background-image: url('../../../../img/bb_name.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
}