description "[[ role.name ]] Docker Container"
author "bigboards"
start on filesystem and started docker
stop on runlevel [!2345]
respawn

script
	exec /usr/bin/docker start -a [[ role.name ]]
end script